@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FF6B6B;
  --background: #0E1117;
  --secondary: #262730;
  --text: #FAFAFA;
}

body {
  background-color: var(--background);
  color: var(--text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
